# Ignore virtual environment
venv/
.env/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore large data
*.wav
*.m4a
*.mp3

# Ignore model checkpoints
*.pt
*.bin
*.ckpt

venv/
venv/
*.db
*.dylib
replacements.txt
